body{
  margin: 0;
  height: 100vh;
}

.panel{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  height: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  background-color: #234357;
  color: white;
  align-items: center;
}

.header-title{
  padding: 0 20px;
  border-left: 2px solid #9CB3BF80;
  height: 100%;
  display: flex;
  align-items:center;
  font: 400 16px / 21.9px 'Open Sans';
  text-align: left;
}

nav{
  height: 50px;
  padding: 0px 20px;
  border: 1px solid #E9F1F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

nav button{
  padding: 6px 10px 8px 10px;
}

.bread-crumbs{
  display: flex;
}

.bread-crumbs img{
  padding: 0 10px;
  width: 5px;
  height: 8px;
}
nav{
  .active-route{
    color: rgba(0, 83, 153, 1);
  }
}

button{
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  width: max-content;
}

.secondary-button{
  color: #616161;
  font: 700 12px/16.34px 'Open Sans';
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  display: flex;
  height: calc(100vh - 150px);
  align-items: flex-start;
  width: calc(100% - 60px);
  background-color: #F3F6FC;
}

.flex-end{
  display: flex;
  justify-content: end;
}

.row-item{
  color: #234357;
  text-align: left;
}

.row-item-primary{
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 150px;
  font: 700 14px / 19px 'Open Sans', sans-serif;
}

.row-item-semi-bold{
  display: flex;
  gap: 6px;
  font: 600 13px / 16px 'Open Sans', sans-serif;
}

.row-item-unit-wrapper{
  display: flex;
  justify-content: space-between;
}

.row-item-units{
  display: flex;
  gap: 5px;
  font: 600 13px / 16px 'Open Sans', sans-serif;
}

.row-item-secondary{
  font: 400 12px / 16px 'Open Sans', sans-serif;
}
.units{
  align-self: end;
  color: #737373;
  font: 600 10px / 13.6px 'Open Sans', sans-serif;
}
.progress-bar{
  width: 100px;
  height: 14px;
  background-color: #F3F6FC;
  border-radius: 2px;

}

.progress{
  opacity: 40%;
  border-radius: 2px;
  height: 100%;
}

.vol{
  background-color: #6397F8;
}

.wt{
  background-color: #AB63F8;
}

.plan-container{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex: 1;
}

.content-wrapper{
  width: 100%;
  padding: 17.5px 15px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.content-title{
  color: #005399;
  font: 600 14px/19px 'Open Sans';
}
.content-header{
  display: flex;
  gap: 10px;
  align-items: center;
}
.content-tag{
  background-color: #BDF0F4;
  padding: 0.5px 2px;
  font: 600 10px / 13.62px 'Open Sans';
  height: 14px;
  color: #404040;
  border-radius: 2px;
}
/* plannedgroup ends */

/* Side Tab Styles */
.side-tab {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: width 0.3s ease;
}

.side-tab.active{
  visibility: visible;
  width: 30%;
  min-width: 300px;
  word-break: break-all;
}

.side-tab-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-tab-title{
  color:#005399;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}

.side-tab-content {
  height: calc(100% - 94px);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tab-toggle-button-group{
  padding: 0 15px 10px 15px;
}

.toggle-button{
  padding: 5px 10px;
  height: 24px;
  border-radius: 20px;
  font: 700 10px / 14px 'Open Sans';
  text-align: center;
  box-shadow: 0px 2px 3px 0px #0000001A;
}

.toggle-button.active{
  color: #FFFF;
  background-color: #0076DD;
}

.button-group{
  display: flex;
  gap: 10px;
  align-items: center;
}

.map{
  width: 100%;
  object-fit: fill;
}

/* side content */
.shipment-plan-header{
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  .title{
    color: #005399;
  }
  button{
    background-color: transparent;
    color: #0076DD;
  }
}

.active-row{
  background-color: #E9F1F5;
}

.shipment-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #EEF2F4;
  padding: 10px 15px;
}

.shipment-timeline{
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.shipment-timeline::-webkit-scrollbar {
  display: none;
}

.timeline-info{
  display: flex;
  background-color:#F3F6FC;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  padding: 10px 15px;
  opacity: 1;
  width: 100%;
  visibility: visible;
  transition:  opacity 0.3s ease-in,height 0.3s ease-in,visibilty 0.3s ease-in;;
}

.info-hidden{
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition:  opacity 0.3s ease-in,height 0.3s ease-in,visibilty 0.3s ease-in;
}

.info-row {
  display: flex;
  gap: 15px;
}

.info-row-item{
  font: 700 14px / 19.07px 'Open Sans';
  text-align: left;
  color: #234357;
}

.shipment-timeline-wrapper{
  color: #234357;
  display: flex;
  gap: 8px;
}

.clamp2-ellipse{
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipse{
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.shipment-title{
  font: 700 12px / 16.3px 'Open Sans', sans-serif;
}

.shipment-description{
  font: 400 12px / 16.3px 'Open Sans', sans-serif;
}

.info-value{
  max-width: 120px;
  font: 600 12px / 16.3px 'Open Sans', sans-serif;
}

.info-label{
  font: 400 12px / 16.3px 'Open Sans', sans-serif;
}

.circle{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #FFFFFF;
  border: 1px solid #515151;
}

.shipment-timeline-description{
  min-height: 40px;
  display: flex;
  gap: 10px;
}

.line{
  height: 100%;
  background: #0076DD;
  width: 1.5px;
  flex-grow: 1;
}

.vertical-timeline{
  width: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  translate: 10% 0%;
}
/* side content */

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horizontal-line-dotted{
  border-top: 1px dotted #36577E80;
  flex-grow: 1;
  width: 100%;
}

.bread-crumbs-route{
  display: flex;
  align-items: center;
  color: #616161;
  font: 600 13px / 16px 'Open Sans';
}

.pick-drop{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  width: 100px;
  justify-content: center;
}

.pick-drop-icons{
  width: 70%;
  transition: width 0.2s ease-in;
  justify-self: center;
}

tr:hover{
  cursor: pointer;
  .pick-drop-icons{
    width: 100%;
    transition: width 0.1s ease-in;
  }
  .stop-bg{
    background-color: #00ffa961;
  }
}

.red-45{
  border: 3px solid #D26568;
  transform: rotate(45deg);
}

.green-45{
  border: 3px solid #1FCD93;
  transform: rotate(45deg);
}

.tag{
  padding: 0.5px 2px;
  border-radius: 2px;
  font: 600 10px/13.6px 'Open Sans', sans-serif;
  text-align: left;
  white-space: nowrap;
  background-color: #EEF2F4;
  color: #404040;
  display: flex; 
  align-items: center;
}
.tag.vol{
  background-color: #D9E6FF;
}

.tag.wt{
  background-color: #F2E7FE;
}

.docx-bg{
  background-color: #FFEEC4;
}

.tag.qty{
  background-color: #40404029;
}

.stop-bg{
  color: #422500;
}

.visualize-button{
  padding: 5px 10x;
  color: #0076DD;
  background-color: #EEF2F4;
  font: 700 10px / 14px 'Open Sans';
  text-align: right;
  border-radius:4px;
  height: 24px;
}

.close-button{
  height: 30px;
  background-color: transparent;
  color: #0000;
}

.content-title{
  color: #005399;
}

.content-wrapper.active{
  padding-right:0;
}

@media (max-width:550px){
  .content-wrapper.active {
    display: none;
  }
  .side-tab.active {
    width: 100%;
  }
}