body{
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.panel{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  height: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  background-color: #234357;
  color: white;
  align-items: center;
}

.header-title{
  padding: 0 20px;
  border-left: 2px solid grey;
  height: 100%;
  align-content: center;
}

nav{
  height: 50px;
  padding: 0px 20px;
  border: 1px solid #E9F1F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.bread-crumbs{
  display: flex;
  gap: 10px;
}

nav{
  .active-route{
    color: rgba(0, 83, 153, 1);
  }
}

button{
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

nav button{
  padding: 6px 10px 8px 10px;
}
.secondary-button{
  background: rgba(231, 231, 231, 1);
}

.filter-wrapper{
  height: 40px;
  gap: 10px;
  background: rgba(233, 241, 245, 1);
}

.filter-container{
  padding: 8px 20px;
  display: flex;
  gap: 20px;
}

.dropDown{
  align-items: center;
  display: flex;
  gap: 5px;
}

.icon-wrapper{
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 2px;

  img{
    width:10px;
    height:10px;
  }
}





/* plannedgroup starts */

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidenav {
  width: 40px;
  background-color: #D9E6FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.icon.active{
background-color: white;
}

.icon:hover {
  background-color: #0080ff;
}

.main-content {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
  background-color: #F3F6FC;
}

.table {
  width: 100%;
  min-width: 70%;
  overflow-x: scroll;
  border-collapse:separate;
  border-spacing:0 10px;
}

.table th{
  color: #005399;
  gap: 10px;
  padding: 10px 8px 0 8px;
  font: 600 10px / 13.6px Open Sans;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: left;

}
.table td {
  padding: 10px 8px;
}

tbody tr{
  background-color: white;
}

.row-item{
  color: #234357;
  text-align: left;
}

.row-item-primary{
  font: 700 14px / 19px Open Sans;
}

.row-item-semi-bold{
  display: flex;
  gap: 6px;
  font: 600 13px / 16px Open Sans;
}

.row-item-unit-wrapper{
  display: flex;
  justify-content: space-between;
}

.row-item-units{
  display: flex;
  gap: 5px;
  font: 600 13px / 16px Open Sans;
}

.row-item-secondary{
  font: 400 12px / 16px Open Sans;
}
.units{
  align-self: end;
  color: #737373;
  font: 600 10px / 13.6px Open Sans;
}
.progress-bar{
  width: 100px;
  height: 14px;
  background-color: #F3F6FC;
  border-radius: 2px;

}

.progress{
  opacity: 40%;
  border-radius: 2px;
  height: 100%;
}

.vol{
  background-color: #6397F8;
}

.wt{
  background-color: #AB63F8;
}

.plan-container{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex: 1;
}
/* plannedgroup ends */

/* Side Tab Styles */
.side-tab {
  visibility: hidden;
  position: relative;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: width 0.3s ease;
}

.side-tab.active{
  visibility: visible;
  width: 35%;
  min-width: 300px;
}
.side-tab-toggle {
  padding: 20px;
}

.side-tab-content {
  padding: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: #e74c3c;
}

.blinking-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2px;
  height: 2px;
  background-color: #000;
  border-radius: 100%;
  animation: blink-grow 2s ease-in-out infinite;
}

@keyframes blink-grow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.button-group{
  display: flex;
  gap: 10px;
}

.map{
  width: 100%;
  object-fit: fill;
}

.table-checkbox{
  align-content: center;
  text-align: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #D9E6FF;
  cursor: pointer;
}

tbody input[type="checkbox"]{
  display: none;
}

tbody .table-checkbox:hover input[type="checkbox"] {
  display: block;
  background-color: white;
}

tbody .table-checkbox:hover img {
  display: none;
}


/* side content */
.shipment-plan-header{
  display: flex;
  justify-content: space-between;
  .title{
    color: #005399;
  }
  button{
    background-color: transparent;
    color: #0076DD;
  }
}

.shipment-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #EEF2F4;
  padding: 10px 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.shipment-timeline-header{
  display: flex;
  gap: 8px;
}

.circle{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #FFFFFF;
  border: 1px solid #515151;
}

.shipment-timeline-description{
  min-height: 40px;
  display: flex;
  gap: 20px;
}

.line{
  height: 100%;
  background: #0076DD;
  width: 1.5px;
  flex-grow: 1;
}

.vertical-timeline{
  width: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* side content */

td{
  button{
    padding: 0 5px;
    height: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color:transparent;
    color: #376F99;
    .hash-icon{
      display: none;
    }
  }
  button:hover{
    background-color: #E9F1F5;
    .load-icon{
      display: none;
    }
    .hash-icon{
      display: block;
    }
  }
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horizontal-line-dotted{
  border-top: 1px dotted #36577E80;
  flex-grow: 1;
  width: 100%;
}

.pick-drop{
  align-items: center;
  width: 100px;
}
.pick-drop-icons{
  width: 70%;
  transition: width 0.2s ease-in;
  justify-self: center;
}

tr:hover{
  cursor: pointer;
  .pick-drop-icons{
    width: 100%;
    transition: width 0.1s ease-in;
  }
  .stop-bg{
    background-color: #00ffa961;
  }
}

.red-45{
  border: 3px solid #D26568;
  transform: rotate(45deg);
}

.green-45{
  border: 3px solid #1FCD93;
  transform: rotate(45deg);
}

.tag{
  padding: 0.5px 2px;
  align-content: center;
  border-radius: 2px;
  font: 600 10px/13.6px Open Sans;
  text-align: left;
  white-space: nowrap;
  background-color: #EEF2F4;
}

.tag{
  padding: 0.5px 2px;
  border-radius: 2px;
  font: 600 10px/13.6px Open Sans;
  text-align: left;
  white-space: nowrap;
  background-color: #EEF2F4;
  color: #404040;
  align-content: center;
}
.tag.vol{
  background-color: #D9E6FF;
}

.tag.wt{
  background-color: #F2E7FE;
}

.docx-bg{
  background-color: #FFEEC4;
}

.stop-bg{
  color: #422500;
}
